/* External stylesheet */
body {
    background-color: rgb(244, 247, 248);
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF; 
  }


  .logo img{
	height: 90px;
}


nav ul{
	display: flex;
    list-style: none;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
}
.searchbar{
  float: right;
  padding: 6px;
  border: navy;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


